<!-- JUMBOTRON -->
<div class="jumbotron" id="admin-panel-jumbotron">
    <div class="jumbotron-overlay dark">
        <div class="jumbotron-title-container medium-jumbotron">
            <h1>Administration Panel</h1>
        </div>
    </div>
</div>