<!-- PROFILE SUBMISSIONS -->
<div class="profile-statistics-container clearfix">
    <h3 class="profile-statistics-title">Latest Submissions</h3>

    <table class="profile-submissions">
        <tr class="profile-submissions-titles">
            <td>Submission ID</td>
            <td>Date submitted</td>
            <td>Status</td>
        </tr>
        {{#each latestSubmissions}}
            <tr>
                <td>{{this._id}}</td>
                <td>{{this.date_created}}</td>
                <td><span class="{{this.status}}-submission">{{this.status}}</span></td>
            </tr>
        {{/each}}
        <tr>
            <td>
                <a href="/users/my-profile/submissions" class="all-submissions-link">View all submissions</a>
            </td>
        </tr>
    </table>
</div>