<!-- PROFILE STATISTICS -->
<div class="profile-statistics-container clearfix">
    <h3 class="profile-statistics-title">Statistics</h3>
    <ul class="profile-general-statistics">
        <li><p><span>Username:</span>{{user.username}}</p></li>
        <li><p><span>Email:</span>{{user.email}}</p></li>
        <li><p><span>Rank:</span>{{user.rank}}</p></li>
        <li><p><span>Account age:</span> ...</p></li>
    </ul>
    <ul class="profile-submissions-statistics">
        <li><p><span>Total submissions:</span>23</p></li>
        <li><p><span>Total pending approval:</span>4</p></li>
        <li><p><span>Total approved:</span>12</p></li>
        <li><p><span>Total rejected:</span>7</p></li>
    </ul>
</div>