<!-- PROFILE SUBMISSIONS -->
<div class="profile-statistics-container clearfix">
    <h3 class="profile-statistics-title">Submissions</h3>

    <table class="profile-submissions">
        <tr class="profile-submissions-titles">
            <td>Submission ID</td>
            <td>Date submitted</td>
            <td>Status</td>
        </tr>
        <tr>
            <td>5c7f208f3e1c381a4891e528</td>
            <td>06/03/2019</td>
            <td><span class="pending-approval-submission">Pending approval</span></td>
        </tr>
        <tr>
            <td>5c7f208f3e1c381a4891e528</td>
            <td>06/03/2019</td>
            <td><span class="approved-submission">Approved</span></td>
        </tr>
        <tr>
            <td>5c7f208f3e1c381a4891e528</td>
            <td>06/03/2019</td>
            <td><span class="rejected-submission">Rejected</span></td>
        </tr>
    </table>
</div>