<!-- SIDE-NAV -->
<div id="side-nav">
    {{#each allAircrafts}}
        <p class="manufacturer">{{@key}}<i class="fas fa-caret-down"></i></p>
        <ul class="manufacturer-models hidden">
            {{#each this}}
                <li>
                    <a href="/aircrafts/model/{{this._id}}" class="aircraft-model">{{this.name}}</a>
                </li>
            {{/each}}
        </ul>
    {{/each}}
        
    {{!-- <p class="manufacturer">{{this.name}}<i class="fas fa-caret-down"></i></p>
            <ul class="manufacturer-models hidden">
            <li class="aircraft-model">A340-500</li>
    </ul> --}}
</div>