{{> admin-panel-jumbotron}}
<!-- ADD MANUFACTUER FORM -->
<div class="aircraft-form-container margin-top-60">
    <form method="POST" action="/admin/add-manufacturer" class="aircraft-form">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        
        <input type="submit" class="sign-in-submit">
    </form>
</div>