<!-- JUMBOTRON -->
<div class="jumbotron" id="admin-panel-jumbotron">
    <div class="jumbotron-overlay dark">
        <div class="jumbotron-title-container medium-jumbotron">
            <h1>Administration Panel</h1>
        </div>
    </div>
</div>
<!-- ADMIN ACTIONS -->
<div id="admin-actions">
    <a href="/admin/add-manufacturer" class="admin-action">Add Manufacturer</a>
    <a href="/admin/add-aircraft" class="admin-action">Add Aircraft</a>
    <a href="/admin/review-submissions" class="admin-action">Review Submissions</a>
</div>