{{> aircraft-modal}}
{{> sidenav}}
<!-- MAIN BODY -->
<div id="main-body">
    <!-- JUMBOTRON -->
    <div class="jumbotron" id="aircraft-jumbotron">
        <div class="jumbotron-title-container small-jumbotron">
            <h1>Aircrafts</h1>
        </div>
    </div>

    <!-- AIRCRAFT SPECS -->
    <h2 id="aircraft-title">{{aircraft.manufacturer_name}} {{aircraft.name}}</h2>
    
    <table id="aircraft-specs">
        <tr>
            <td class="aircraft-specs-title">Specification</td>
            <td class="aircraft-specs-title">Value</td>
            <td class="aircraft-specs-title">Actions</td>
        </tr>
        <tr>
            <td>Manufacturer</td>
            {{> aircraft-spec-disabled spec=aircraft.manufacturer_name}}
        </tr>
        <tr>
            <td>Aircraft Name</td>
            {{> aircraft-spec-disabled spec=aircraft.name}}
        </tr>
        <tr>
            <td>Family</td>
            {{> aircraft-spec-enabled spec=aircraft.family ref="family"}}
        </tr>
        <tr>
            <td>Type</td>
            {{> aircraft-spec-enabled spec=aircraft.type ref="type"}}
        </tr>
        <tr>
            <td>IATA Code</td>
            {{> aircraft-spec-enabled spec=aircraft.iata_code ref="iata_code"}}
        </tr>
        <tr>
            <td>First Flight</td>
            {{> aircraft-spec-enabled spec=aircraft.first_flight ref="first_flight"}}
        </tr>
        <tr>
            <td>First Delivery</td>
            {{> aircraft-spec-enabled spec=aircraft.first_delivery ref="first_delivery"}}
        </tr>
        <tr>
            <td>Unit Cost</td>
            {{> aircraft-spec-enabled spec=aircraft.unit_cost ref="unit_cost"}}
        </tr>
        <tr>
            <td>Max Capacity</td>
            {{> aircraft-spec-enabled spec=aircraft.max_capacity ref="max_capacity"}}
        </tr>
        <tr>
            <td>Cockpit Crew</td>
            {{> aircraft-spec-enabled spec=aircraft.cockpit_crew ref="cockpit_crew"}}
        </tr>
        <tr>
            <td>Length</td>
            {{> aircraft-spec-enabled spec=aircraft.length ref="length"}}
        </tr>
        <tr>
            <td>Height</td>
            {{> aircraft-spec-enabled spec=aircraft.height ref="height"}}
        </tr>
        <tr>
            <td>Wingspan</td>
            {{> aircraft-spec-enabled spec=aircraft.wingspan ref="wingspan"}}
        </tr>
        <tr>
            <td>Wing Area</td>
            {{> aircraft-spec-enabled spec=aircraft.wing_area ref="wing_area"}}
        </tr>
        <tr>
            <td>Cabin Width</td>
            {{> aircraft-spec-enabled spec=aircraft.cabin_width ref="cabin_width"}}
        </tr>
        <tr>
            <td>Fuselage Width</td>
            {{> aircraft-spec-enabled spec=aircraft.fuselage_width ref="fuselage_width"}}
        </tr>
        <tr>
            <td>Maximum Speed</td>
            {{> aircraft-spec-enabled spec=aircraft.maximum_speed ref="maximum_speed"}}
        </tr>
        <tr>
            <td>Cruise Speed</td>
            {{> aircraft-spec-enabled spec=aircraft.cruise_speed ref="cruise_speed"}}
        </tr>
        <tr>
            <td>Engines</td>
            {{> aircraft-spec-enabled spec=aircraft.engines ref="engines"}}
        </tr>
        <tr>
            <td>Max Range</td>
            {{> aircraft-spec-enabled spec=aircraft.max_range ref="max_range"}}
        </tr>
        <tr>
            <td>Max Range With Max Payload</td>
            {{> aircraft-spec-enabled spec=aircraft.max_range_with_max_payload ref="max_range_with_max_payload"}}
        </tr>
        <tr>
            <td>Operating Empty Weight</td>
            {{> aircraft-spec-enabled spec=aircraft.operating_empty_weight ref="operating_empty_weight"}}
        </tr>
        <tr>
            <td>Maximum Payload</td>
            {{> aircraft-spec-enabled spec=aircraft.maximum_payload ref="maximum_payload"}}
        </tr>
        <tr>
            <td>Maximum Takeoff Weight</td>
            {{> aircraft-spec-enabled spec=aircraft.maximum_takeoff_weight ref="maximum_takeoff_weight"}}
        </tr>
        <tr>
            <td>Maximum Landing Weight</td>
            {{> aircraft-spec-enabled spec=aircraft.maximum_landing_weight ref="maximum_landing_weight"}}
        </tr>
        <tr>
            <td>Standard Fuel Capacity</td>
            {{> aircraft-spec-enabled spec=aircraft.standard_fuel_capacity ref="standard_fuel_capacity"}}
        </tr>
    </table>
</div>