<!-- JUMBOTRON -->
<div class="jumbotron" id="index-jumbotron">
    <div class="jumbotron-overlay">
        {{> top-nav}}
        <div class="jumbotron-title-container large-jumbotron">
            <h1>The largest open-source<br />aircraft database.</h1>
            <a href="/aircrafts" class="cta get-started">Get Started</a>
        </div>
    </div>
</div>
<!-- MISSION SECTION -->
<div class="main-wrapper">
    <h3 class="section-title">Our Mission</h3>
</div>
<div id="mission-wrapper">
    <div id="mission-overlay">
        <p>To create the biggest and most <br> useful aircraft database available <br> to everyone.</p>
    </div>
</div>
<!-- COME ALONG TRANSITION -->
<div id="come-along-transition">
    <div class="wave come-along clearfix" id="come-along-wave"></div>
</div>
<!-- COME ALONG -->
<div id="come-along-wrapper">
    <div class="main-wrapper">
        <h3 class="section-title white" id="come-along-title">Come Along</h3>
        <a href="/users/register" class="cta come-along">Sign Up</a>
    </div>
</div>