<!-- JUMBOTRON -->
<div class="jumbotron" id="index-jumbotron">
    <div class="jumbotron-overlay">
        <div class="jumbotron-title-container large-jumbotron">
            <h1>Aircraft Catalogue</h1>
            <p>The largest open-source aircraft database</p>
        </div>
    </div>
</div>