<!-- JUMBOTRON -->
<div class="jumbotron" id="index-jumbotron">
    <div class="jumbotron-overlay">
        {{> top-nav}}
        <div class="jumbotron-title-container large-jumbotron">
            <h1>The largest open-source<br />aircraft database.</h1>
            <a href="/aircrafts" id="index-cta">Get Started</a>
        </div>
    </div>
</div>