<!-- JUMBOTRON -->
<div class="jumbotron" id="aircraft-jumbotron">
    <div class="jumbotron-title-container small-jumbotron">
        <h1><span>{{user.username}}'s</span> Profile</h1>
    </div>
</div>
<!-- PROFILE -->
<div id="profile-wrapper">
    {{> profile-statistics}}
</div>