/* SIDE NAV */

#side-nav {
    position: relative;
    width: 250px;
    height: 100vh;
    float: right;
    border-top: 2px solid #F1FAEE;
    border-left: 2px solid #F1FAEE;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    padding: 30px 30px;
    background-color: #fff;
}

#side-nav.fixed {
    position: fixed;
    top: 0;
    right: 0;
}

.manufacturer {
    font-weight: 600;
    font-size: 20px;
    margin-top: 5px;
    cursor: pointer;
}

.manufacturer i {
    margin-left: 5px;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.manufacturer i.up {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

.manufacturer-models {
    margin-left: 15px;
    margin-top: 5px;
}

.manufacturer-models.toggled {
    display: inline-block;
}

.manufacturer-models.hidden {
    display: none;
}

.aircraft-model:link {
    color: #333;
    font-size: 18px;
}

.aircraft-model:visited {
    color: #333;
}

/* MAIN BODY */

#main-body {
    max-width: calc(100% - 250px);
    max-width: -webkit-calc(100% - 250px);
    max-width: -moz-calc(100% - 250px);
}

/* AIRCRAFT SPECS */

#aircraft-title {
    text-align: center;
    font-weight: 400;
    margin-top: 30px;
    font-size: 38px;
}

#aircraft-specs {
    max-width: 850px;
    margin: 35px auto;
}

#aircraft-specs tr:first-of-type {
    text-align: center;
    font-weight: bold;
}

#aircraft-specs tr {
    border: 1px solid #ccc;
}

#aircraft-specs tr:nth-of-type(2n + 1) {
    background-color: #eee;
}

#aircraft-specs tr td {
    width: 270px;
    padding: 10px;
}

.aircraft-specs-title {
    text-align: center !important;
}

#aircraft-specs tr td:nth-of-type(2n) {
    text-align: center;
}

#aircraft-specs tr td:nth-of-type(3n) {
    text-align: right;
}

.aircraft-spec:link {
    margin-left: 10px;
    font-size: 14px;
    color: #22292e;
}

.aircraft-spec:visited {
    color: #22292e;
}

.change-button:link {
    color: #9AD4D6;

    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.change-button:visited {
    color: #9AD4D6;
}

.change-button:hover {
    color: #7fc8cb;
}

.change-button.disabled {
    color: #bbb;
    cursor: no-drop;
}

.remove-button:link {
    color: #eb606a;

    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.remove-button:visited {
    color: #eb606a;
}

.remove-button:hover {
    color: #d3565f;
}

.remove-button.disabled {
    color: #bbb;
    cursor: no-drop;
}

.add-button:link {
    color: #fff;
    background-color: #71c69f;
    padding: 2px 5px;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.add-button:visited {
    color: #fff;
    background-color: #71c69f;
}

.add-button:hover {
    background-color: #5a9e7f;
}